
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {

  font-size: 16px;
  box-sizing: border-box;
}

section {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 10px;
}

.image img{
  height: 100%;
  object-fit: cover;
}






